<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swj.customized.mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="com.swj.customized.bean.Message">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="productid" jdbcType="INTEGER" property="productid" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="createtime" jdbcType="VARCHAR" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, productid, userid, content, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from c_message
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectBySelective" parameterType="com.swj.customized.bean.Message" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from c_message
    where 1=1
    <if test="productid != null">
      and productid = #{productid,jdbcType=INTEGER}
    </if>
    <if test="userid != null">
      and userid = #{userid,jdbcType=VARCHAR}
    </if>
    <if test="content != null">
      and content = #{content,jdbcType=VARCHAR}
    </if>
    <if test="createtime != null">
      and createtime = #{createtime,jdbcType=VARCHAR}
    </if>
    <if test="id != null">
      and id = #{id,jdbcType=INTEGER}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from c_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.swj.customized.bean.Message">
    insert into c_message (id, productid, userid, 
      content, createtime)
    values (#{id,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{createtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.swj.customized.bean.Message">
    insert into c_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productid != null">
        productid,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.swj.customized.bean.Message">
    update c_message
    <set>
      <if test="productid != null">
        productid = #{productid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.swj.customized.bean.Message">
    update c_message
    set productid = #{productid,jdbcType=INTEGER},
      userid = #{userid,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>