<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swj.customized.mapper.OrderMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.swj.customized.bean.Order">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="taskid" property="taskid" jdbcType="VARCHAR"/>
        <result column="orderuserid" property="orderuserid" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="createtime" property="createtime" jdbcType="VARCHAR"/>
        <result column="overtime" property="overtime" jdbcType="VARCHAR"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        taskid,
        orderuserid,
        status,
        createtime,
        overtime
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="order.id">
        INSERT INTO c_order (
            id,
            taskid,
            orderuserid,
            status,
            createtime,
            overtime
        ) VALUES (
            #{order.id,jdbcType=VARCHAR},
            #{order.taskid,jdbcType=VARCHAR},
            #{order.orderuserid,jdbcType=VARCHAR},
            #{order.status,jdbcType=INTEGER},
            #{order.createtime,jdbcType=VARCHAR},
            #{order.overtime,jdbcType=VARCHAR}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="order.id">
        INSERT INTO c_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="order.id!=null"> id,</if>
            <if test="order.taskid!=null"> taskid,</if>
            <if test="order.orderuserid!=null"> orderuserid,</if>
            <if test="order.status!=null"> status,</if>
            <if test="order.createtime!=null"> createtime,</if>
            <if test="order.overtime!=null"> overtime,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="order.id!=null">#{order.id,jdbcType=VARCHAR},
            </if>
            <if test="order.taskid!=null">#{order.taskid,jdbcType=VARCHAR},
            </if>
            <if test="order.orderuserid!=null">#{order.orderuserid,jdbcType=VARCHAR},
            </if>
            <if test="order.status!=null">#{order.status,jdbcType=INTEGER},
            </if>
            <if test="order.createtime!=null">#{order.createtime,jdbcType=VARCHAR},
            </if>
            <if test="order.overtime!=null">#{order.overtime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO c_order (
            id,
            taskid,
            orderuserid,
            status,
            createtime,
            overtime
        )VALUES
        <foreach collection="orders" item="order" index="index" separator=",">
            (
            #{order.id,jdbcType=VARCHAR},
            #{order.taskid,jdbcType=VARCHAR},
            #{order.orderuserid,jdbcType=VARCHAR},
            #{order.status,jdbcType=INTEGER},
            #{order.createtime,jdbcType=VARCHAR},
            #{order.overtime,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE c_order
        <set>
            <if test="order.taskid != null"> taskid= #{order.taskid,jdbcType=VARCHAR},</if>
            <if test="order.orderuserid != null"> orderuserid= #{order.orderuserid,jdbcType=VARCHAR},</if>
            <if test="order.status != null"> status= #{order.status,jdbcType=INTEGER},</if>
            <if test="order.createtime != null"> createtime= #{order.createtime,jdbcType=VARCHAR},</if>
            <if test="order.overtime != null"> overtime= #{order.overtime,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{order.id,jdbcType=VARCHAR}
    </update>
    <select id="selectBySelective" parameterType="com.swj.customized.bean.Order" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from c_order
        where 1=1
        <if test="taskid != null">
            and taskid = #{taskid,jdbcType=VARCHAR}
        </if>
        <if test="orderuserid != null">
            and orderuserid = #{orderuserid,jdbcType=VARCHAR}
        </if>
        <if test="status != null">
            and status = #{status,jdbcType=INTEGER}
        </if>
        <if test="createtime != null">
            and createtime = #{createtime,jdbcType=VARCHAR}
        </if>
        <if test="overtime != null">
            and overtime = #{overtime,jdbcType=VARCHAR}
        </if>
        <if test="id != null">
            and id = #{id,jdbcType=VARCHAR}
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from c_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from c_order
        where id = #{id,jdbcType=VARCHAR}
    </select>

</mapper>

