<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swj.customized.mapper.ProductMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.swj.customized.bean.Product">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="productname" property="productname" jdbcType="VARCHAR"/>
        <result column="classid" property="classid" jdbcType="INTEGER"/>
        <result column="userid" property="userid" jdbcType="VARCHAR"/>
        <result column="productabstract" property="productabstract" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="default_image" property="defaultImage" jdbcType="LONGVARCHAR"/>
        <result column="createtime" property="createtime" jdbcType="VARCHAR"/>
        <result column="productscore" property="productscore" jdbcType="DOUBLE"/>
        <result column="productscorenum" property="productscorenum" jdbcType="INTEGER"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        productname,
        classid,
        userid,
        productabstract,
        content,
        default_image,
        createtime,
productscore,
productscorenum
</sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="product.id">
        INSERT INTO c_product (
            id,
            productname,
            classid,
            userid,
            productabstract,
            content,
            default_image,
            createtime,
            productscore,
            productscorenum
        ) VALUES (
            #{product.id,jdbcType=VARCHAR},
            #{product.productname,jdbcType=VARCHAR},
            #{product.classid,jdbcType=INTEGER},
            #{product.userid,jdbcType=VARCHAR},
            #{product.productabstract,jdbcType=VARCHAR},
            #{product.content,jdbcType=LONGVARCHAR},
            #{product.defaultImage,jdbcType=LONGVARCHAR},
            #{product.createtime,jdbcType=VARCHAR},
            #{product.productscore,jdbcType=DOUBLE},
            #{product.productscorenum,jdbcType=INTEGER}
        )
</insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="product.id">
        INSERT INTO c_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="product.id!=null"> id,</if>
            <if test="product.productname!=null"> productname,</if>
            <if test="product.classid!=null"> classid,</if>
            <if test="product.userid!=null"> userid,</if>
            <if test="product.productabstract!=null"> productabstract,</if>
            <if test="product.content!=null"> content,</if>
            <if test="product.defaultImage!=null"> default_image,</if>
            <if test="product.createtime!=null"> createtime,</if>
            <if test="product.productscore!=null"> productscore,</if>
            <if test="product.productscorenum!=null"> productscorenum</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="product.id!=null"> #{product.id,jdbcType=VARCHAR},</if>
            <if test="product.productname!=null"> #{product.productname,jdbcType=VARCHAR},</if>
            <if test="product.classid!=null"> #{product.classid,jdbcType=INTEGER},</if>
            <if test="product.userid!=null"> #{product.userid,jdbcType=VARCHAR},</if>
            <if test="product.productabstract!=null"> #{product.productabstract,jdbcType=VARCHAR},</if>
            <if test="product.content!=null"> #{product.content,jdbcType=LONGVARCHAR},</if>
            <if test="product.defaultImage!=null"> #{product.defaultImage,jdbcType=LONGVARCHAR},</if>
            <if test="product.createtime!=null"> #{product.createtime,jdbcType=VARCHAR},</if>
            <if test="product.productscore!=null"> #{product.productscore,jdbcType=DOUBLE},</if>
            <if test="product.productscorenum!=null"> #{product.productscorenum,jdbcType=INTEGER}</if>
        </trim>
</insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO c_product(
            id,
            productname,
            classid,
            userid,
            productabstract,
            content,
            default_image,
            createtime,
            productscore,
            productscorenum
        )VALUES
        <foreach collection="products" item="product" index="index" separator=",">
        (
            #{product.id,jdbcType=VARCHAR},
            #{product.productname,jdbcType=VARCHAR},
            #{product.classid,jdbcType=INTEGER},
            #{product.userid,jdbcType=VARCHAR},
            #{product.productabstract,jdbcType=VARCHAR},
            #{product.content,jdbcType=LONGVARCHAR},
            #{product.defaultImage,jdbcType=LONGVARCHAR},
            #{product.createtime,jdbcType=VARCHAR},
            #{product.productscore,jdbcType=DOUBLE},
            #{product.productscorenum,jdbcType=INTEGER}
        )
        </foreach>
</insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE c_product
        <set>
                <if test="product.id != null"> id = #{product.id,jdbcType=VARCHAR},</if>
                <if test="product.productname != null"> productname = #{product.productname,jdbcType=VARCHAR},</if>
                <if test="product.classid != null"> classid = #{product.classid,jdbcType=INTEGER},</if>
                <if test="product.userid != null"> userid = #{product.userid,jdbcType=VARCHAR},</if>
                <if test="product.productabstract != null"> productabstract = #{product.productabstract,jdbcType=VARCHAR},</if>
                <if test="product.content != null"> content = #{product.content,jdbcType=LONGVARCHAR},</if>
                <if test="product.defaultImage != null"> default_image = #{product.defaultImage,jdbcType=LONGVARCHAR},</if>
                <if test="product.createtime != null"> createtime = #{product.createtime,jdbcType=VARCHAR},</if>
                <if test="product.productscore != null"> productscore = #{product.productscore,jdbcType=DOUBLE},</if>
                <if test="product.productscorenum != null"> productscorenum = #{product.productscorenum,jdbcType=INTEGER}</if>
        </set>
		WHERE id = #{product.id,jdbcType=VARCHAR}
    </update>
    <sql id="select_sql">
        SELECT
          p.id,
          p.productname,
          p.classid,
          p.userid,
          c.classname,
          u.username,
          p.productabstract,
          p.content,
          p.default_image defaultImage,
          p.productscore,
          p.productscorenum,
          p.createtime
      FROM
          c_product p
          LEFT JOIN c_classify c ON c.id = p.classid
          LEFT JOIN c_users u ON u.id = p.userid
  </sql>
    <select id="selectBySelective" parameterType="com.swj.customized.dto.ProductDto" resultType="com.swj.customized.dto.ProductDto">
        <include refid="select_sql" />
        where 1=1
        <if test="productname != null and productname != ''">
            and p.productname like  concat('%',#{productname,jdbcType=VARCHAR},'%')
        </if>
        <if test="classid != null">
            and p.classid = #{classid,jdbcType=INTEGER}
        </if>
        <if test="userid != null and userid != ''">
            and p.userid = #{userid,jdbcType=VARCHAR}
        </if>
        <if test="content != null and content != ''">
            and p.content = #{content,jdbcType=VARCHAR}
        </if>
        <if test="defaultImage != null and defaultImage != ''">
            and p.defaultImage = #{defaultImage,jdbcType=VARCHAR}
        </if>
        <if test="createtime != null and createtime != ''">
            and p.createtime = #{createtime,jdbcType=VARCHAR}
        </if>
        <if test="id != null">
            and p.id = #{id,jdbcType=INTEGER}
        </if>
        <if test="sortfield != null and sortfield != ''">
            order by p.${sortfield}
            <if test="sortingdirection != null and sortingdirection != ''">
                ${sortingdirection}
            </if>
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="com.swj.customized.dto.ProductDto">
        <include refid="select_sql" />
        where p.id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.util.List">
        DELETE p,
        i,
        m,
        s
        FROM
        c_product p
        LEFT JOIN c_image i ON i.productid = p.id
        LEFT JOIN c_message m ON m.productid = p.id
        LEFT JOIN c_product_score s ON s.product_id = p.id
        WHERE
        p.id in
        <foreach collection="ids" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <select id="selectBySixNew" resultType="com.swj.customized.dto.ProductDto">
        <include refid="select_sql"/>
        order by p.createtime desc limit 0,6
    </select>

</mapper>

