<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swj.customized.mapper.TaskMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.swj.customized.bean.Task">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="userid" property="userid" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="minsalary" property="minsalary" jdbcType="VARCHAR"/>
        <result column="maxsalary" property="maxsalary" jdbcType="VARCHAR"/>
        <result column="createtime" property="createtime" jdbcType="VARCHAR"/>
        <result column="overtime" property="overtime" jdbcType="VARCHAR"/>
        <result column="isdelete" property="isdelete" jdbcType="VARCHAR"/>
        <result column="classid" property="classid" jdbcType="INTEGER"/>
        <result column="taskdeadline" property="taskdeadline" jdbcType="VARCHAR"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        title,
        userid,
        status,
        content,
        minsalary,
        maxsalary,
        createtime,
        overtime,
        isdelete,
        classid,
taskdeadline
</sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="task.id">
        INSERT INTO c_task (
            id,
            title,
            userid,
            status,
            content,
            minsalary,
            maxsalary,
            createtime,
            overtime,
            isdelete,
            classid,
            taskdeadline
        ) VALUES (
            #{task.id,jdbcType=VARCHAR},
            #{task.title,jdbcType=VARCHAR},
            #{task.userid,jdbcType=VARCHAR},
            #{task.status,jdbcType=VARCHAR},
            #{task.content,jdbcType=LONGVARCHAR},
            #{task.minsalary,jdbcType=VARCHAR},
            #{task.maxsalary,jdbcType=VARCHAR},
            #{task.createtime,jdbcType=VARCHAR},
            #{task.overtime,jdbcType=VARCHAR},
            #{task.isdelete,jdbcType=VARCHAR},
            #{task.classid,jdbcType=INTEGER},
            #{task.taskdeadline,jdbcType=VARCHAR}
        )
</insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="task.id">
        INSERT INTO c_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="task.id!=null"> id,</if>
            <if test="task.title!=null"> title,</if>
            <if test="task.userid!=null"> userid,</if>
            <if test="task.status!=null"> status,</if>
            <if test="task.content!=null"> content,</if>
            <if test="task.minsalary!=null"> minsalary,</if>
            <if test="task.maxsalary!=null"> maxsalary,</if>
            <if test="task.createtime!=null"> createtime,</if>
            <if test="task.overtime!=null"> overtime,</if>
            <if test="task.isdelete!=null"> isdelete,</if>
            <if test="task.classid!=null"> classid,</if>
            <if test="task.taskdeadline!=null"> taskdeadline</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="task.id!=null"> #{task.id,jdbcType=VARCHAR},</if>
            <if test="task.title!=null"> #{task.title,jdbcType=VARCHAR},</if>
            <if test="task.userid!=null"> #{task.userid,jdbcType=VARCHAR},</if>
            <if test="task.status!=null"> #{task.status,jdbcType=VARCHAR},</if>
            <if test="task.content!=null"> #{task.content,jdbcType=LONGVARCHAR},</if>
            <if test="task.minsalary!=null"> #{task.minsalary,jdbcType=VARCHAR},</if>
            <if test="task.maxsalary!=null"> #{task.maxsalary,jdbcType=VARCHAR},</if>
            <if test="task.createtime!=null"> #{task.createtime,jdbcType=VARCHAR},</if>
            <if test="task.overtime!=null"> #{task.overtime,jdbcType=VARCHAR},</if>
            <if test="task.isdelete!=null"> #{task.isdelete,jdbcType=VARCHAR},</if>
            <if test="task.classid!=null"> #{task.classid,jdbcType=INTEGER},</if>
            <if test="task.taskdeadline!=null"> #{task.taskdeadline,jdbcType=VARCHAR}</if>
        </trim>
</insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO c_task(
            id,
            title,
            userid,
            status,
            content,
            minsalary,
            maxsalary,
            createtime,
            overtime,
            isdelete,
            classid,
            taskdeadline
        )VALUES
        <foreach collection="tasks" item="task" index="index" separator=",">
        (
            #{task.id,jdbcType=VARCHAR},
            #{task.title,jdbcType=VARCHAR},
            #{task.userid,jdbcType=VARCHAR},
            #{task.status,jdbcType=VARCHAR},
            #{task.content,jdbcType=LONGVARCHAR},
            #{task.minsalary,jdbcType=VARCHAR},
            #{task.maxsalary,jdbcType=VARCHAR},
            #{task.createtime,jdbcType=VARCHAR},
            #{task.overtime,jdbcType=VARCHAR},
            #{task.isdelete,jdbcType=VARCHAR},
            #{task.classid,jdbcType=INTEGER},
            #{task.taskdeadline,jdbcType=VARCHAR}
        )
        </foreach>
</insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE c_task
        <set>
                <if test="task.id != null"> id = #{task.id,jdbcType=VARCHAR},</if>
                <if test="task.title != null"> title = #{task.title,jdbcType=VARCHAR},</if>
                <if test="task.userid != null"> userid = #{task.userid,jdbcType=VARCHAR},</if>
                <if test="task.status != null"> status = #{task.status,jdbcType=VARCHAR},</if>
                <if test="task.content != null"> content = #{task.content,jdbcType=LONGVARCHAR},</if>
                <if test="task.minsalary != null"> minsalary = #{task.minsalary,jdbcType=VARCHAR},</if>
                <if test="task.maxsalary != null"> maxsalary = #{task.maxsalary,jdbcType=VARCHAR},</if>
                <if test="task.createtime != null"> createtime = #{task.createtime,jdbcType=VARCHAR},</if>
                <if test="task.overtime != null"> overtime = #{task.overtime,jdbcType=VARCHAR},</if>
                <if test="task.isdelete != null"> isdelete = #{task.isdelete,jdbcType=VARCHAR},</if>
                <if test="task.classid != null"> classid = #{task.classid,jdbcType=INTEGER},</if>
                <if test="task.taskdeadline != null"> taskdeadline = #{task.taskdeadline,jdbcType=VARCHAR}</if>
        </set>
		WHERE id = #{task.id,jdbcType=VARCHAR}
    </update>


    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultType="com.swj.customized.dto.TaskDto">
        select
        t.id,
        t.title,
        t.userid,
        u.username,
        u.userimg,
        t.classid,
        c.classname,
        t.status,
        t.taskdeadline,
        t.createtime,
        t.content,
        t.minsalary,
        t.maxsalary,
        t.overtime,
        t.isdelete,
	COUNT(o.id) num
    from c_task t
    left join c_users u on u.id=t.userid
    left join c_classify c on c.id=t.classid
    LEFT JOIN c_order o ON o.taskid = t.id
        where t.id = #{id,jdbcType=VARCHAR}
            GROUP BY t.id
    </select>
    <select id="selectBySelective"  resultType="com.swj.customized.dto.TaskDto">
        select
        t.id,
        t.title,
        t.userid,
        u.username,
        u.userimg,
        t.classid,
        c.classname,
        t.status,
        t.createtime,
        t.content,
        t.minsalary,
        t.maxsalary,
        t.taskdeadline,
        t.overtime,
        t.isdelete,
        COUNT(o.id) applicantsnum
        from c_task t left join c_users u on u.id=t.userid
        left join c_classify c on c.id=t.classid
        LEFT JOIN c_order o ON o.taskid = t.id
        where 1=1
        <if test="task.title != null">
            and t.title = #{task.title,jdbcType=VARCHAR}
        </if>
        <if test="task.userid != null">
            and t.userid = #{task.userid,jdbcType=VARCHAR}
        </if>
        <if test="task.status != null">
            and t.status = #{task.status,jdbcType=VARCHAR}
        </if>
        <if test="task.minsalary != null">
            and t.minsalary = #{task.minsalary,jdbcType=VARCHAR}
        </if>
        <if test="task.maxsalary != null">
            and t.maxsalary = #{task.maxsalary,jdbcType=VARCHAR}
        </if>
        <if test="task.createtime != null">
            and t.createtime = #{task.createtime,jdbcType=VARCHAR}
        </if>
        <if test="task.content != null">
            and t.content = #{task.content,jdbcType=LONGVARCHAR}
        </if>
        <if test="task.id != null">
            and t.id = #{task.id,jdbcType=VARCHAR}
        </if>
        <if test="task.isdelete != null">
            and t.isdelete = #{task.isdelete,jdbcType=VARCHAR}
        </if>
        GROUP BY t.id
        <if test="sortfield != null and sortfield != ''">
            order by t.${sortfield}
            <if test="sortingdirection != null and sortingdirection != ''">
                ${sortingdirection}
            </if>
        </if>
    </select>

</mapper>

