<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.swj.customized.mapper.UsersMapper">
    <!--auto generated Code-->
    <resultMap id="BaseResultMap" type="com.swj.customized.bean.Users">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="userimg" property="userimg" jdbcType="VARCHAR"/>
        <result column="realname" property="realname" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="role" property="role" jdbcType="VARCHAR"/>
        <result column="createtime" property="createtime" jdbcType="VARCHAR"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="Base_Column_List">
        id,
        username,
        password,
        userimg,
        realname,
        phone,
        email,
        role,
        createtime
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="users.id">
        INSERT INTO c_users (
            id,
            username,
            password,
            userimg,
            realname,
            phone,
            email,
            role,
            createtime
        ) VALUES (
            #{users.id,jdbcType=VARCHAR},
            #{users.username,jdbcType=VARCHAR},
            #{users.password,jdbcType=VARCHAR},
            #{users.userimg,jdbcType=VARCHAR},
            #{users.realname,jdbcType=VARCHAR},
            #{users.phone,jdbcType=VARCHAR},
            #{users.email,jdbcType=VARCHAR},
            #{users.role,jdbcType=VARCHAR},
            #{users.createtime,jdbcType=VARCHAR}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="users.id">
        INSERT INTO c_users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="users.id!=null"> id,</if>
            <if test="users.username!=null"> username,</if>
            <if test="users.password!=null"> password,</if>
            <if test="users.userimg!=null"> userimg,</if>
            <if test="users.realname!=null"> realname,</if>
            <if test="users.phone!=null"> phone,</if>
            <if test="users.email!=null"> email,</if>
            <if test="users.role!=null"> role,</if>
            <if test="users.createtime!=null"> createtime,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="users.id!=null">#{users.id,jdbcType=VARCHAR},
            </if>
            <if test="users.username!=null">#{users.username,jdbcType=VARCHAR},
            </if>
            <if test="users.password!=null">#{users.password,jdbcType=VARCHAR},
            </if>
            <if test="users.userimg!=null">#{users.userimg,jdbcType=VARCHAR},
            </if>
            <if test="users.realname!=null">#{users.realname,jdbcType=VARCHAR},
            </if>
            <if test="users.phone!=null">#{users.phone,jdbcType=VARCHAR},
            </if>
            <if test="users.email!=null">#{users.email,jdbcType=VARCHAR},
            </if>
            <if test="users.role!=null">#{users.role,jdbcType=VARCHAR},
            </if>
            <if test="users.createtime!=null">#{users.createtime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO c_users (
            id,
            username,
            password,
            userimg,
            realname,
            phone,
            email,
            role,
            createtime
        )VALUES
        <foreach collection="userss" item="users" index="index" separator=",">
            (
            #{users.id,jdbcType=VARCHAR},
            #{users.username,jdbcType=VARCHAR},
            #{users.password,jdbcType=VARCHAR},
            #{users.userimg,jdbcType=VARCHAR},
            #{users.realname,jdbcType=VARCHAR},
            #{users.phone,jdbcType=VARCHAR},
            #{users.email,jdbcType=VARCHAR},
            #{users.role,jdbcType=VARCHAR},
            #{users.createtime,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="updateByPrimaryKeySelective">
        UPDATE c_users
        <set>
            <if test="users.username != null"> username= #{users.username,jdbcType=VARCHAR},</if>
            <if test="users.password != null"> password= #{users.password,jdbcType=VARCHAR},</if>
            <if test="users.userimg != null"> userimg= #{users.userimg,jdbcType=VARCHAR},</if>
            <if test="users.realname != null"> realname= #{users.realname,jdbcType=VARCHAR},</if>
            <if test="users.phone != null"> phone= #{users.phone,jdbcType=VARCHAR},</if>
            <if test="users.email != null"> email= #{users.email,jdbcType=VARCHAR},</if>
            <if test="users.role != null"> role= #{users.role,jdbcType=VARCHAR},</if>
            <if test="users.createtime != null"> createtime= #{users.createtime,jdbcType=VARCHAR}</if>
        </set>
        WHERE id = #{users.id,jdbcType=VARCHAR}
    </update>
    <select id="selectUserBySelective" parameterType="com.swj.customized.bean.Users"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from c_users where 1=1
        <if test="username != null">
            and username = #{username,jdbcType=VARCHAR}
        </if>
        <if test="id != null">
            and id = #{id,jdbcType=VARCHAR}
        </if>
        <if test="realname != null">
            and realname = #{realname,jdbcType=VARCHAR}
        </if>
        <if test="phone != null">
            and phone = #{phone,jdbcType=VARCHAR}
        </if>
        <if test="email != null">
            and email = #{email,jdbcType=VARCHAR}
        </if>
        <if test="role != null">
            and role = #{role,jdbcType=VARCHAR}
        </if>
        <if test="createtime != null">
            and createtime = #{createtime,jdbcType=VARCHAR}
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from c_users
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from c_users
        where id = #{id,jdbcType=VARCHAR}
    </select>
</mapper>

